nav{
  background-color: dimgray;
  height: 100px;
  text-align: center;
}
nav img{
  margin-top: 15px;
  margin-left: 20px;
}

div {
margin-left: 70px;
width: 75px;
display: flex;
}

div a{
  padding-top: 40px;
  width: 250px;
}

button{
  position: absolute;
  top: 250px;
  left:0;
  width: 100px;
}
